p{
    background-color: darkgreen;
    color: white;
    font-size: 75px;
    border: 4px dotted pink
} 

#paragraf {


    background-color: blanchedalmond;
}


.text {

    background-color: blue;
}